<ion-view>
    <ion-content class="padding entry-screen">
        <div class='row'>
            <div class='col kfplogo'><img src='img/logo.png'></div>
        </div>
        <div class='row'>
            <div class='col center-text entry-text'>
                <p>
                    LISTEN TO MORE FM AND WATCH KUNG FU PANDA 1 AND 2 ON TV3 FOR YOUR CHANCE TO WIN.
                    <br><br>
                    TAP THE AMULET YOU SAW DURING KUNG FU PANDA 1 AT 7PM, MARCH 12TH ON TV3 OR KUNG FU PANDA 2 AT 7PM, MARCH 19TH ON TV3.                    
                </p>
            </div>
        </div>        
        <div class='row'>
            <div class='col'><img src='img/icons/po.png' ng-click="openForm('po')"></div>
            <div class='col'><img src='img/icons/mantis.png' ng-click="openForm('mantis')"></div>
            <div class='col'><img src='img/icons/crane.png' ng-click="openForm('crane')"></div>
        </div>
        <div class='row'>
            <div class='col'><img src='img/icons/monkey.png' ng-click="openForm('monkey')"></div>
            <div class='col'><img src='img/icons/viper.png' ng-click="openForm('viper')"></div>
            <div class='col'><img src='img/icons/tigress.png' ng-click="openForm('tigress')"></div>
        </div>        
        <div class='row'>
            <div class='col center-text large-text'>
                <p>
                    TAP THE CORRECT AMULET TO BE IN TO WIN.
                </p>
            </div>
        </div>
        
        <div class='row'>
            <div class='col arrow-button'><a href="#/home"><img src='img/kfpbutton.png'></a></div>
        </div>        

    </ion-content>
</ion-view>