<ion-view>
    <ion-content class="padding home-screen">
        <div class='row'>
            <div class='col morefm'><img src='img/morefm.png'></div>
        </div>
        <div class='row'>
            <div class='col'><img src='img/logo.png'></div>
        </div>        
        <div class='row'>
            <div class='col'><img src='img/crew.png'></div>
        </div>
        <div class='row'>
            <div class='col waw'><a href="#/entry"><img src='img/waw.png'></a></div>
        </div> 
        
        <div class='row'>
            <div class='col prize-link'><a href="#/prize">THE PRIZE</a></div>
            <div class='col terms-link'><a href="#/terms">T&C'S</a></div>
        </div>         
    </ion-content>
</ion-view>