<ion-view>
    <ion-content class="padding terms-screen">
        <div class='row'>
            <div class='col morefm'><img src='img/morefm.png'></div>
            <div class='col morefm'><img src='img/logo.png'></div>
        </div>
        <div class='row'>
                <div class='col-center terms-text'>
                    <p>
                        T&C:
                        <br><br>
                        WATCH KUNG FU PANDA 1 (7PM, 12 MARCH) AND KUNG FU PANDA 2 (7PM, 19TH MARCH)
                        LOOK OUT FOR THE JADE AMULETS THAT WILL POP UP DURING THE MOVIE, GO TO THE 'WATCH AND WIN' SECTION OF THE MORE FM KIDS APP,
                        GO ONLINE TO WWW.MOREFM.CO.NZ OR KEEP LISTENING TO MORE FM CALL IN FOR YOUR CHANCE TO WIN TICKETS TO SEE KUNG FU PANDA 3, 
                        IN CINEMAS MARCH 24, AND BE IN THE DRAW TO WIN A FAMILY TRIP THANKS TO FLIGHT CENTRE
                        TO DREAMWORLD ON THE GOLD COAST - HOME TO THE ONLY KUNG FU PANDA: LAND OF AWESOMENESS IN THE WORLD!
                        <br><br>
                        THE COMPETITION WILL RUN FROM MARCH 7TH TO 24TH WITH THE LIVE DRAW ON MOREFM ON THURSDAY 24TH MARCH.
                        <br><br>
                        PRIZES INCLUDE:<br>
                        50 TICKETS TO SEE KUNG FU PANDA 3, IN CINEMAS 24TH MARCH. MORE FM PREVIEW TICKETS IN 5 LOCATIONS TO SEE KUNG FU PANDA 3
                        <br><br>
                        ONE TRIP THANKS TO FLIGHT CENTRE TO DREAMWORLD ON THE GOLD COAST - HOME TO THE ONLY KUNG FU PANDA:LAND OF AWESOMENESS IN THE WORLD
                        
                        
                        
                    </p>
                
                </div>
        </div>        
        <div class='row'>
            <div class='col arrow-button'><a href="#/home"><img src='img/kfpbutton.png'></a></div>
        </div>         

    </ion-content>
</ion-view>
